<!--<div class="panel panel-info">-->
<!--<div class="panel-heading"> MENU DES ACTIVES.</div>-->
<!--<div class="panel-body">-->
<!--<ul class="nav nav-pills nav-stacked">-->
<!--<li role="presentation" ><a [routerLink]="['/accueil']" class=" btn btn-primary">ACCUEIL</a></li>-->
<!--<li role="presentation" ><a [routerLink]="['/invite']" class=" btn btn-info">INVITES</a></li>-->
<!--<li role="presentation"><a [routerLink]="['/etudiant']" class=" btn btn-success">ETUDIANTS</a></li>-->
<!--<li role="presentation"><a [routerLink]="['/enseignant']" class=" btn btn-warning">ENSEIGNANT</a></li>-->
<!--<li role="presentation"><a [routerLink]="['/employe']" class=" btn btn-danger">EMPLOYES</a></li>-->
<!--<li role="presentation" class=" btn btn-default"><a href="#">FORMATION</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<p-panel>
  <p-header><span style="font-size: medium">MENU DES ACTIVITES</span> </p-header>
  <p-panelMenu [model]="items"></p-panelMenu>

</p-panel>

