<div class="container">

  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-success" *ngIf="successMessage"> {{successMessage}}</div>
      <div class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
          <div class="container ">
            <input #searcbox id="search-box" (keyup)="search(searcbox.value)" placeholder="Rechercher une matiere"/>
          </div>

          <ul class="matieres mats" *ngIf="omatieres">
            <li *ngFor="let matiere of omatieres | async"
                [class.selected]="matiere === selectedMatiere" (click)="onSelect(matiere)">
              <div class="-align-center">
                <span class="badge"> {{matiere.id}}</span>{{matiere.libelle | uppercase}}
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!--<div class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <div class="panel-body">
          <ul class="matieres" >
            <li *ngFor="let matiere of matieres"
                [class.selected]="matiere === selectedMatiere" (click)="onSelect(matiere)">
              <div class="-align-center">
              <span class="badge"> {{matiere.id}}</span>{{matiere.libelle | uppercase}}</div>
            </li>
          </ul>
        </div>
      </div>-->
    </div>
    <div class="col-md-1">
      <div class="row"><a routerLink="/accueil" class="btn btn-danger">
        <span class="glyphicon glyphicon-home"></span> </a></div>
      <br/>
      <div class="row"><a routerLink="/matiere" class="btn btn-success">
        <span class="glyphicon glyphicon-arrow-up"></span> </a></div>
      <br/>
      <div class="row"><a routerLink="create" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus"></span> </a></div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <hr/>
    <hr/>
    <div class="col-md-3">

      <p-orderList [value]="matieres" filterBy="libelle" filterPlaceholder="Filter by libelle" [responsive]="true"
                   header="MATIERES" [listStyle]="{'height':'250px'}"
                   dragdrop="true">
        <ng-template let-matiere pTemplate="item">
          <div class="ui-helper-clearfix" (click)="onSelect(matiere)">

            <span class="badge" style="font-size:14px;margin:15px 5px 0 0"> {{matiere.id}} </span>
            <div style="font-size:14px;float:right;margin:15px 5px 0 0"> {{matiere.libelle | uppercase}}</div>
          </div>
        </ng-template>

      </p-orderList>

    </div>
  </div>
</div>
