<div class="container">
  <div class="row">
    <!--<div class="jumbotron text-center">
      <h3>LES INVITES</h3>
      <a [routerLink]="['/accueil']" class="btn btn-danger"> Accueil</a>
    </div>-->


  </div>
  <div class="row">
    <div class="col-md-10 ">
      <div *ngIf="statusSucces === 0; else succesErreur">
        <div class="alert alert-success"> {{succesMessage}}</div>
      </div>
      <ng-template #succesErreur>
        <div class="alert alert-danger" *ngIf="statusSucces === 1 || statusSucces === 2 || statusSucces === 3">
          {{succesErreurMessage}}
        </div>
        <div class="alert alert-danger" *ngIf="errorMessage|| errorMessageStatus"> {{errorMessage}}
          {{errorMessageStatus}}
        </div>
      </ng-template>

      <p-growl [value]="msgs"></p-growl>

      <p-dataTable [value]="invites" selectionMode="single" [(selection)]="selectedInvite"
                   (onRowDblclick)="onRowSelect($event)" [paginator]="true" rows="5" [responsive]="true"
                   expandableRows="true" [loading]="loading" [contextMenu]="cm">
        <p-header>CRUD for invités</p-header>
        <p-column expander="true" styleClass="col-icon" [style]="{'width':'35px'}"></p-column>
        <p-column field="id" header="ID" [sortable]="true" [style]="{'width':'80px'}"></p-column>
        <p-column field="numCni" header="CNI" [sortable]="true"></p-column>
        <p-column field="titre" header="TITRE" [sortable]="true"></p-column>
        <p-column field="nom" header="NOM" [sortable]="true"></p-column>
        <p-column field="prenom" header="PRENOM" [sortable]="true"></p-column>
        <p-column field="profil" header="PROFIL" [sortable]="true"></p-column>
        <p-column field="raison" header="RAISON" [sortable]="true"></p-column>
        <ng-template let-invite pTemplate="rowexpansion">
          <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
            <div class="ui-grid-row">
              <div class="ui-grid-col-1" style="text-align:center">
                <i class="fa fa-address-card fa-2x" (click)="showInvite(invite)"
                   style="cursor:pointer;float:left;margin-top:40px"></i>
              </div>
              <div class="ui-grid-col-4">
                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3 " ><span class="label label-default pull-right"> Statut :</span> </div>
                    <div class="ui-grid-col-9">{{invite.status}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3 "><span class="label label-default pull-right"> Societé :</span></div>
                    <div class="ui-grid-col-9">{{invite.societe}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3 "><span class="label label-default pull-right"> Lieu :</span></div>
                    <div class="ui-grid-col-9">{{invite.adresse.quartier}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3"><span class="label label-default pull-right"> Postal :</span></div>
                    <div class="ui-grid-col-9">{{invite.adresse.codePostal}}</div>
                  </div>
                </div>
              </div>
              <div class="ui-grid-col-6">
                <div class="ui-grid ui-grid-responsive ui-grid-pad">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3"><span class="label label-default pull-right"> Mail :</span></div>
                    <div class="ui-grid-col-9">{{invite.adresse.email}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3"><span class="label label-default pull-right"> Mobile :</span></div>
                    <div class="ui-grid-col-9">{{invite.adresse.mobile}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3 "><span class="label label-default pull-right"> Bureau :</span></div>
                    <div class="ui-grid-col-9 ">{{invite.adresse.bureau}}</div>
                  </div>
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-3 "><span class="label label-default pull-right"> Tel :</span></div>
                    <div class="ui-grid-col-9 ">{{invite.adresse.tel}}</div>
                  </div>

                </div>
              </div>
              <div class="ui-grid-col-1">
                <div class="ui-grid-col-2" style="text-align:center">
                  <i class="fa fa-phone-square fa-2x" (click)="showInvite(invite)"
                     style="cursor:pointer;float:left;margin-top:40px"></i>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <!--<p-column field="adresse.codePostal" header="POSTAL" [sortable]="true"></p-column>-->
        <!--<p-column field="adresse.quartier" header="LIEU" [sortable]="true"></p-column>-->
        <!--<p-column field="adresse.email" header="E-MAIL" [sortable]="true"></p-column>-->
        <!--<p-column field="societe" header="SOCIETE" [sortable]="true"></p-column>-->
        <!--<p-column field="status" header="STATUT" [sortable]="true"></p-column>-->
        <p-footer>
          <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                    label="Add"></button>
          </div>
        </p-footer>
      </p-dataTable>


    </div>
  </div>

  <hr/>
  <hr/>

</div>

<!--Boite de confirmation et contextMenu-->
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
  <p-footer>
    <button type="button" pButton icon="fa-close" label="Non" (click)="cd.reject()"></button>
    <button type="button" pButton icon="fa-check" label="Oui" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>
<p-contextMenu #cm [model]="items" appendTo="body"></p-contextMenu>

<p-dialog header="Invité Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="invite">
    <div class="ui-grid-row" *ngIf="invite.id!= null">
      <div class="ui-grid-col-4"><label for="id">ID:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="id" [(ngModel)]="invite.id"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="cni">Cni:</label></div>
      <div class="ui-grid-col-8">
        <p-inputMask mask="CNI-999" id="cni" [(ngModel)]="invite.numCni" placeholder="CNI-999"
                     [style]="{'width':'165px'}"></p-inputMask>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="titre">Titre:</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown id="titre" [options]="titres" [(ngModel)]="invite.titre"
                    placeholder="Choisi un titre" [style]="{'width':'165px'}">
        </p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="nom">Nom:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="nom" [(ngModel)]="invite.nom"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="prenom">Prenom:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="prenom" [(ngModel)]="invite.prenom"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="profil">Profil:</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown id="profil" [options]="profils" [(ngModel)]="invite.profil"
                    placeholder="Choisi un profil." [style]="{'width':'165px'}">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="raison">Raison:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="raison" [(ngModel)]="invite.raison"/></div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="Annuler"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

 <!--Expander-->

<p-dialog header="Invité Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="invite">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="statut">Statut:</label></div>
      <div class="ui-grid-col-8">
        <p-dropdown id="statut" [options]="statuts" [(ngModel)]="invite.status"
                    placeholder="Choisi une statut" [style]="{'width':'165px'}">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="societe">Societé:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="societe" [(ngModel)]="invite.societe"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="postal">Postal:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="postal" [(ngModel)]="invite.adresse.codePostal"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="lieu">Lieu:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="lieu" [(ngModel)]="invite.adresse.quartier"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="email">E-mail:</label></div>
      <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="invite.adresse.email"/></div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="mobile">Mobile:</label></div>
      <div class="ui-grid-col-8">
        <p-inputMask mask="(+225) 99-99-99-99" id="mobile" [(ngModel)]="invite.adresse.mobile"
                     placeholder="(+225) 99-99-99-99">
        </p-inputMask>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="bureau">Bureau:</label></div>
      <div class="ui-grid-col-8">
        <p-inputMask mask="(+225) 99-99-99-99" id="bureau" [(ngModel)]="invite.adresse.bureau"
                     placeholder="(+225) 99-99-99-99">
        </p-inputMask>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4"><label for="tel">Tel:</label></div>
      <div class="ui-grid-col-8">
        <p-inputMask mask="(+225) 99-99-99-99" id="tel" [(ngModel)]="invite.adresse.tel"
                     placeholder="(+225) 99-99-99-99">
        </p-inputMask>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="cancel()" label="Annuler"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>



