.editer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.creer-card {
  width: 90%;
}

.butonrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contsidnav {
  height: 410px;
}

.header-image {
  background-image: url('../../../../assets/image/ens.jpg');
  background-size: cover;
}

.header {
  background-color: #f2f2f2;
}

.teleph {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


