
<!--FLEXBOX CSS-->

<div class="listes">
  <div class="item">
    <mat-sidenav-container class="contsidnav">
      <div *ngIf="statut ===0; else ensVide">
        <!--<h2>implementer ......</h2>-->
        <div class="card">

          <mat-card class="mar-card" matTooltip="Selectioner un prof pour les details">
            <div>
              <mat-form-field style="width: 100%">
                <input matInput placeholder="Filtre" #searchbox (keyup)="rechercher(searchbox.value)">
              </mat-form-field>
            </div>
            <div>
              <div *ngFor="let e of oEnseignants | async">
                <a class="list-group-item  clearfix"
                   [routerLink]="[e.id]" routerLinkActive="active"
                   (click)="onSelect(e)">
                  <div class="pull-left">
                    <h4 class="list-group-item-heading">{{e.titre}} {{e.nomComplet}}</h4>
                    <p class="list-group-item-text"> {{e.id}} {{e.numCni}} {{e.specialite}} {{e.status}}</p>
                  </div>
                  <span class="pull-right">
                    <img [src]="e.pathphoto || pathNullImage" class="img-responsive photo-list">
                  </span>
                </a>

              </div>
            </div>
          </mat-card>
        </div>

      </div>

      <div>
        <ng-template #ensVide>
          <mat-card>
            <mat-card-title>
              <mat-chip-list>
                <mat-chip color="warn" selected="true">
                  <mat-icon>sentiment_very_dissatisfied</mat-icon>
                  <h6> {{succesErreur}}</h6>
                </mat-chip>
              </mat-chip-list>

            </mat-card-title>
          </mat-card>
        </ng-template>
      </div>
    </mat-sidenav-container>
  </div>
  <div class="item">
    <div class="action">
      <div class="action-1">
        <a mat-mini-fab matTooltip="Accueil appli" routerLink="/accueil" matTooltipPosition="before">
          <mat-icon>home</mat-icon>
        </a>
      </div>

      <div class="action-2">
        <div>
          <a mat-mini-fab color="primary" matTooltip="Accueil des profs" routerLink="/enseignant"
             matTooltipPosition="after">
            <mat-icon>face</mat-icon>
          </a>
        </div>
      </div>
      <div class="action-3">
        <div>
          <button mat-mini-fab color="warn" matTooltip="Ajouter un prof" (click)="addProf()">
            <mat-icon>group</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="item">
    <div class="editer">
      <div class="edit-1">
        <router-outlet></router-outlet>
      </div>
      <div class="edit-2"></div>
    </div>
  </div>
</div>
