<div *ngIf="false">
<div>
  <h1 class="text-center">Bienvenue dans la salle des professeurs!</h1>
</div>
  <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <img mat-card-image src="./assets/image/ens.jpg" >
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="5:1">
      <mat-grid-tile></mat-grid-tile>
     <mat-grid-tile>
       <a mat-raised-button color="primary" routerLink="/enseignant/list">Gérer les professeurs</a>
     </mat-grid-tile>
  </mat-grid-list>
<div class="text-center">
  <h4 >
    Enseigner, c'est donner le meilleur de soi,
    Même si c'est pas toujours facile ou évident, mais c'est plein de rêve, et c'est ça qui compte.
  </h4>
  <h4>******</h4>
</div>
<div>
  <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
</div>

</div>


<!--AVEC FLEXBOX-->
<div class="parent">
  <div class="enf-1">
    <mat-card>

      <h1 class="text-center">Bienvenue dans la salle des professeurs!</h1>
    </mat-card>
  </div>
  <div class="enf-2">
    <mat-card class="cadre">
      <img mat-card-image src="./assets/image/ens.jpg" >
      <mat-card-actions align="center">
        <a mat-raised-button color="primary" routerLink="/enseignant/list">Gérer les professeurs</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <!--<div class="enf-3">
    <a mat-raised-button color="primary" routerLink="/enseignant/list">Gérer les professeurs</a>
  </div>-->
  <div class="enf-4">
    <div class="text-center">
     <mat-card class="cadText">
       <h4 >
         Enseigner, c'est donner le meilleur de soi,
         Même si c'est pas toujours facile ou évident, mais c'est plein de rêve, et c'est ça qui compte.
       </h4>
       <h4>******</h4>
     </mat-card>
    </div>
    <div>
      <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
    </div>
  </div>
</div>


