<div class="row" *ngIf="matiere">
  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Detail matière</div>

      <div class="panel-body">

        <div class="row">
          <div class="col-xs-3">
            <span class="label label-default">ID:</span>
          </div>
          <div class="col-xs-6 pull-left">
            {{matiere.id}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <span class="label label-default ">Libellé:</span>
          </div>
          <div class="col-xs-6 pull-left">
            {{matiere.libelle}}
          </div>
          .
        </div>
        <div class="row">
          <div class="col-xs-3">
            <span class="label label-default">Description:</span>
          </div>
          <div class="col-xs-9 pull-left">
            <p>{{matiere.description}}</p>
          </div>
        </div>
      </div>
      <div class="panel-footer">

        <button class="btn btn-success" (click)="editer(matiere)"><span class="glyphicon glyphicon-edit"></span></button>
        <button class="btn btn-danger pull-right" (click)="supprimeMat(matiere)"><span class="glyphicon glyphicon-trash"></span></button>
      </div>
    </div>


  </div>
</div>
