<div class="row" *ngIf="enseignant">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Ajout de photo</div>

      <div class="panel-body">

        <div class="row">
          <div class="col-xs-4">
            <span class="label label-default">CNI:</span>
          </div>
          <div class="col-xs-8 pull-left">
            {{enseignant.numCni}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <span class="label label-default ">Nomme:</span>
          </div>
          <div class="col-xs-8 pull-left">
            {{enseignant.nomComplet}}
          </div>
        </div>
        <div class="row well">
          <form [formGroup]="photogroup" class="navbar-form " (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="file" class="form-control" placeholder="Choisir une photo" #imageEns formControlName="imageEns">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-danger" (click)="annuler()">Annuler</button>
          </form>
          <div class="clearfix">
            <mat-card style="height: 200px; width: 200px">
              <img [src]="enseignant?.pathphoto" class="img-responsive">
            </mat-card>
          </div>

        </div>
      </div>

    </div>


  </div>
</div>

