/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.mar-card{
  margin-top: 10px;
  margin-right: 15px;
}
