

<mat-sidenav-container fullscreen class="ens-container" >
  <mat-sidenav #sidenav (click)="sidenav.toggle()">
  <div >
    <mat-toolbar>
      <mat-toolbar-row>
        <a mat-raised-button color="primary" routerLink="/" mdTooltip="Aller l'accueil de l'app.">Accueil</a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-raised-button color="warn" routerLink="/enseignant/list" mdTooltip="List des profs">Gérer </a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a mat-raised-button color="accent" routerLink="/enseignant" mdTooltip="aller la page manage">Manage</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  </mat-sidenav>
  <mat-toolbar color="accent">
   <button mat-mini-fab color="accent" (click)="sidenav.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
    <div>
      <span>  Prof</span>
    </div>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>


