<div *ngIf="newMatiere">
  <div class="col-md-6">

    <form (ngSubmit)="onSubmit()" #matForm="ngForm">
      <div class="panel panel-default">
        <div class="panel-heading text-center"> CREATION D'UNE MATIERE.</div>
        <div class="panel-body">
      <div class="form-group">
        <label for="lib">Libellé</label>
        <input type="text" id="lib" required class="form-control" placeholder="libelle"
               [(ngModel)]="newMatiere.libelle" name="lib" #lib="ngModel">
        <div [hidden]="lib.valid || lib.pristine" class="alert alert-danger">
          Le libellé est obligatoire.
        </div>
      </div>
      <div class="form-group">
        <label for="des">Description</label>
        <textarea id="des" rows="3" class="form-control" required  minlength="5" maxlength="50" placeholder="Donner une description."
                  [(ngModel)]="newMatiere.description" name="des" #des="ngModel"></textarea>
        <div [hidden]="des.valid || des.pristine" class="alert alert-danger">
          La description doit faire au moins 5 caractères.
        </div>
      </div>
        </div>
        <div class="panel-footer">
          <button type="submit" class="btn btn-success" [disabled]="!matForm.form.valid">
            <span class="glyphicon glyphicon-saved"> Enregistrer</span></button>
          <button type="button" class="btn btn-warning pull-right" (click)="annuler()">
            <span class="glyphicon glyphicon-resize-full"> Annuler</span>
          </button>
        </div>
      </div>
    </form>
  </div>


</div>
